mixin nav-content()
    ul
        li: a(href="#about") About
        li: a(href="#work") Work
        li: a(href="#arts") Arts
        li: a(href="#blog") Blog
        li: a(href="#notes") Notes
        li: a(href="#contact") Contact

.mobile-nav
    +nav-content()

header
    .header-position
        h1.logo admir:|:zukic

        nav.site-nav
            +nav-content()

        a(href="mailto:info@admirzukic.tk").email-link +mail me

        .mobile-nav-toggle: span
