section.articles
  .flex.flex--center

    .col-50
      p test

    .col-50.flex.flex--center.order-first
      .col-1
        p.home-lead.outdented ... and gives some website advices
        a(href="").home-cta All courses
